<%= provide(:title, "Login") %>
<div class="col-md-6 col-center">
    <h1 class="text-center">Login</h1>

    <%= form_for :session do |f| %>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
            <% end %>
            
        </div>

        <%= f.submit "Login", class: "btn btn-primary form-control" %>

    <% end %>

</div>
