<%= form_for [:admin, @category, @word], html: {class: "word_form"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
        <%= f.label :word %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>

    <%= f.fields_for :answers do |a| %>
    
        <div class="form-group">
            <%= a.label :option %>
            <div class="row">
                <div class="col-md-11">
                    <%= a.text_field :content, class: 'form-control' %>
                </div>

                <div class="col-md-1">
                <%= a.check_box :correct %>
                </div>
            </div>
        </div>

    <% end %>

    <%= f.submit class: "form-control btn btn-primary" %>

<% end %>

<script>
    $('.word_form input[type=checkbox]').change(function() {
       $('.word_form input[type=checkbox]:checked').not(this).prop('checked', false);
    });
</script>
