<h1 class="text-center">Show Page</h1>

<h6 class="text-center">You can add/edit/delete words under categories here !</h6>

<!--  text-center -->

<div class="card">
  <div class="card-header text-white bg-info mb-3">
    <div>
      <strong>Category: </strong><%= @category.title %>
      <div class="text-right">
      <%= link_to "Add Word", new_admin_category_word_path(@category.id), class: "btn btn-light"%></div>
    </div>
    <div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Word</th>
          <th scope="col">Word Answer</th>
          <th scope="col">Action</th>
        </tr>  
      </thead>
      <tbody>
        <% i = 1 %>
        <% @words.each do |word| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= word.content %></td>
          <td><%= word.answers.find_by(correct: true).content %></td>
          <td>
              <%= link_to "Edit", edit_admin_category_word_path(@category.id, word.id), class: "btn btn-primary" %>
              <%= link_to "Remove", admin_category_word_path(@category.id, word.id), method: :delete, data:{confirm: 'Are you sure?'}, class: "btn btn-primary" %>
          </td>
        </tr>
        <% i = i + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer bg-info mb-3">
  </div>
</div>

<div>
    <%= link_to "â†Back", admin_categories_path %>
</div>

